In [2]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame(np.random.randn(5,4),index=['R1','R2','R3','R4','R5'],columns=['C1','C2','C3','C4'])
df.head()

          C1        C2        C3        C4
R1 -0.807508 -0.664438 -0.535982 -0.622515
R2  0.970793 -0.593677  0.016736 -0.603741
R3 -0.792436  0.863588 -1.449610 -0.144877
R4 -0.071281 -1.052406 -0.857965  0.137166
R5  0.701637 -0.568721 -0.134173 -0.705240

In [7]:
df['C3']

R1   -0.535982
R2    0.016736
R3   -1.449610
R4   -0.857965
R5   -0.134173
Name: C3, dtype: float64

In [8]:
df.loc['R3']

C1   -0.792436
C2    0.863588
C3   -1.449610
C4   -0.144877
Name: R3, dtype: float64

In [9]:
df.iloc[2:,1:]

          C2        C3        C4
R3  0.863588 -1.449610 -0.144877
R4 -1.052406 -0.857965  0.137166
R5 -0.568721 -0.134173 -0.705240

In [10]:
df.isnull().sum()

C1    0
C2    0
C3    0
C4    0
dtype: int64

In [11]:
df['C1'].unique()

array([-0.80750816,  0.97079279, -0.79243633, -0.07128093,  0.70163678])

In [12]:
df.sum()

C1    0.001204
C2   -2.015654
C3   -2.960994
C4   -1.939208
dtype: float64